* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "system-ui", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: 0.5rem;
  padding: 1rem 1rem; /* Add padding to the navbar */
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 15px; /* Reduce the gap between menu items */
  margin-left: auto; /* Push the nav-menu to the right */
}

.nav-branding {
  font-size: 1.5rem;
  margin-right: 15px; /* Adjust the margin for branding */
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #4caf4f;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.nav-logo {
  font-size: 1.5rem;
  margin-left: 7rem;
}

.menu-icon {
  display: none;
}

.login {
  color: #4caf4f;
}

.register-btn a {
  background-color: #4caf4f;
  color: white;
  padding: 0.5rem 1.25rem; /* Adjust the padding for the button */
  border-radius: 0.188rem;
  margin-left: auto;
}

.register-btn a:hover {
  color: black;
}

.hero,
.achievements {
  background-color: #f5f7fa;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
}

.hero-text,
.achievements-text {
  max-width: 60%;
  margin-left: 9rem;
}

.hero-image {
  max-width: 40%;
  margin-right: 9rem;
}

.hero-heading,
.achievements-heading {
  color: #4d4d4d;
  padding-top: 4.125rem;
  font-weight: 600;
  font-size: 2.75rem;
}

.hero-color-text,
.achievement-color-text {
  color: #4caf4f;
}

.hero-subtext,
.achievements-subtext {
  color: grey;
  padding-top: 0.7rem;
}

.hero-btn {
  padding-top: 2rem;
}

.client-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 2.5rem;
}

.community-content {
  display: flex;
  flex-direction: column; /* Stack the elements vertically */
  align-items: center;
}

.client-text,
.community-text {
  text-align: center;
}

.client-subtext,
.community-subtext {
  margin-top: 0.9rem;
  color: grey;
}

.client-text img {
  margin: 3.5rem;
}

.community-text img {
  margin: 1.9rem 0rem 0.3rem; /* Adjust the top margin of the icons */
}

.community-items {
  display: flex;
  align-items: center;
  gap: 1rem; /* Adjust the gap between community items */
}

.community-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 18.688rem;
  border-radius: 0.625rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 1rem 3rem;
}

.community-item-subhead {
  font-size: 1.2rem;
  margin: 0.9rem 0.9rem;
}

.community-item-text {
  max-width: 100%;
  overflow: hidden;
  white-space: normal;
  text-align: center;
}

.unlock-content {
  display: flex;
  align-items: center;
}

.unlock-text {
  flex: 1;
  padding: 0 1.5rem; /* Add padding as needed */
}

.unlock-heading {
  font-size: 1.5rem; /* Adjust font size as needed */
}

.unlock-subtext {
  color: grey;
  margin-top: 0.7rem;
}

.learn-btn {
  margin-top: 2rem;
}

.learn-btn a {
  background-color: #4caf4f;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.unlock-content img {
  margin-left: 9rem;
}

.unlock-text {
  max-width: 41.313rem;
}

@media (min-width: 769px) and (max-width: 828px) {
  .nav-item.register-btn {
    color: blue;
    padding: 0.625 rem 0.625rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    display: none; /* Hide the nav-menu by default on small screens */
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    text-align: center;
  }

  .nav-menu.active {
    display: flex; /* Show the nav-menu when active */
  }

  .nav-item {
    margin: 16px 0;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-text,
  .hero-image {
    max-width: 100%;
    margin: 0;
  }

  .hero-image {
    margin-top: 1.5rem;
  }

  .hero-heading {
    padding-top: 2rem;
    font-size: 2rem;
  }

  .hero-btn {
    padding-top: 1.5rem;
  }

  .community-items {
    flex-direction: column;
    align-items: center;
  }

  .unlock-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .unlock-content img,
  .unlock-text {
    max-width: 100%; /* Make both image and text span the full width */
  }
}
