* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "system-ui", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: 0.5rem;
  padding: 1rem 1rem; /* Add padding to the navbar */
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 15px; /* Reduce the gap between menu items */
  margin-left: auto; /* Push the nav-menu to the right */
}

.nav-branding {
  font-size: 1.5rem;
  margin-right: 15px; /* Adjust the margin for branding */
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #4caf4f;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.nav-logo {
  font-size: 1.5rem;
  margin-left: 7rem;
}

.menu-icon {
  display: none;
}

.login {
  color: #4caf4f;
}

.register-btn a {
  background-color: #4caf4f;
  color: white;
  padding: 0.5rem 1.25rem; /* Adjust the padding for the button */
  border-radius: 0.188rem;
  margin-left: auto;
}

.register-btn a:hover {
  color: black;
}

.hero {
  background-color: #f5f7fa;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
}

.hero-text {
  max-width: 60%;
  margin-left: 9rem;
}

.hero-image {
  max-width: 40%;
  margin-right: 9rem;
}

.hero-heading {
  padding-top: 4.125rem;
  font-weight: 600;
  font-size: 2.75rem;
}

.hero-color-text {
  color: #4caf4f;
}

.hero-subtext {
  color: grey;
  padding-top: 0.7rem;
}

.hero-btn {
  padding-top: 2rem;
}

@media (min-width: 769px) and (max-width: 828px) {
  .nav-item.register-btn {
    color: blue;
    padding: 0.625 rem 0.625rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    display: none; /* Hide the nav-menu by default on small screens */
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    text-align: center;
  }

  .nav-menu.active {
    display: flex; /* Show the nav-menu when active */
  }

  .nav-item {
    margin: 16px 0;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-text,
  .hero-image {
    max-width: 100%;
    margin: 0;
  }

  .hero-image {
    margin-top: 1.5rem;
  }

  .hero-heading {
    padding-top: 2rem;
    font-size: 2rem;
  }

  .hero-btn {
    padding-top: 1.5rem;
  }
}
