* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "system-ui", sans-serif;
  font-weight: normal;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: 0.5rem;
  padding: 1rem 1rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.nav-branding {
  font-size: 1.5rem;
  margin-right: 15px;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #4caf4f;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.nav-logo, .footer-logo {
  font-size: 1.5rem;
  margin-left: 7rem;
}

.menu-icon {
  display: none;
}

.login {
  color: #4caf4f;
}

.register-btn a {
  background-color: #4caf4f;
  color: white;
  padding: 0.5rem 1.25rem;
  border-radius: 0.188rem;
  margin-left: auto;
}

.register-btn,
.learn-btn a:hover {
  color: black;
}

.hero,
.achievements,
.customers, .demo {
  background-color: #f5f7fa;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
}

.hero-text,
.achievements-text,
.customers-text {
  max-width: 60%;
  margin-left: 9rem;
}

.hero-image {
  max-width: 40%;
  margin-right: 9rem;
}

.hero-heading,
.achievements-heading, .demo-heading {
  color: #4d4d4d;
  padding-top: 4.125rem;
  font-weight: 600;
  font-size: 2.75rem;
}

.hero-color-text,
.achievement-color-text {
  color: #4caf4f;
}

.hero-subtext,
.achievements-subtext {
  color: grey;
  padding-top: 0.7rem;
}

.hero-btn {
  padding-top: 2rem;
}

.client-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 2.5rem;
}

.community-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-text,
.community-text {
  text-align: center;
}

.client-subtext,
.community-subtext {
  margin-top: 0.9rem;
  color: grey;
}

.client-text img {
  margin: 3.5rem;
}

.community-text,
.users-text img {
  margin: 1.9rem 0rem 0.3rem;
}

.community-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.community-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 18.688rem;
  border-radius: 0.625rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 1rem 3rem;
}

.community-item-subhead,
.user-item-subhead {
  font-size: 1.2rem;
  margin: 0.9rem 0.9rem;
}

.community-item-text,
.user-item-text {
  max-width: 100%;
  overflow: hidden;
  white-space: normal;
  text-align: center;
}

.unlock-content,
.pana-content {
  display: flex;
  align-items: center;
}

.unlock-text,
.pana-text {
  flex: 1;
  padding: 0 1.5rem;
}

.unlock-heading,
.pana-heading {
  font-size: 1.5rem;
}

.unlock-subtext,
.pana-subtext {
  color: grey;
  margin-top: 0.7rem;
}

.learn-btn {
  margin-top: 2rem;
}

.learn-btn a, .demo-btn a {
  background-color: #4caf4f;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.unlock-content,
.pana-content img {
  margin-left: 9rem;
}

.unlock-text,
.pana-text {
  max-width: 41.313rem;
}

.achievements-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

.achievements-subtext {
  margin-bottom: 2rem;
}

.counts {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  margin-left: 9rem;
}

.count-row {
  display: flex;
  justify-content: space-between;
  margin-right: 11rem;
  gap: 5rem;
}

.count-row:nth-child(1) {
  margin-bottom: 2.5rem;
}

.count-item {
  display: flex;
  align-items: center;
}

.count-img {
  width: 50px;
  height: 50px;
}

.count-label,
.count-number {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.count-number {
  font-weight: bold;
  margin-left: 0.5rem;
}

.pana {
  margin-top: 4rem;
}

.customers {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.customer-img {
  height: 20.375rem;
  width: 20.375rem;
  border-radius: 10px;
  margin: 2rem 4.875rem 2rem 11rem;
}

.customer-info {
  flex: 1;
  max-width: 45.5rem;
  max-height: 20.25rem;
  color: #4caf4f;
  font-weight: bold;
}

.customer-subtext {
  color: grey;
  margin-bottom: 1rem;
}

.business-name {
  color: grey;
  font-weight: 300;
}

.client-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.customer-logo {
  width: 3.125rem;
  height: auto; 
}

.meet-customers-link, .users-link {
  text-decoration: none;
  color: #4caf4f;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.meet-customers-link ion-icon {
  margin-left: 5px;
}

.meet-customers-link:hover {
  text-decoration: underline;
}
.users {
  margin-top: 3rem;
}

.users-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.users-text {
  text-align: center;
  color: #4D4D4D;
  font-weight: bold;
}

.users-subtext {
  max-width: 39.25rem;
  color: grey;
  margin-top: 0.5rem;
  font-weight: 300;
}

.user-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.user-item {
  flex: 1 0 23rem;
  max-width: 23rem; 
  height: 22.875rem;
  border-radius: 0.625rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-item img {
  width: 100%;
  height: auto; 
  object-fit: cover; 
  border-radius: 10px;
}

.user-item-subhead,
.user-item-text {
  padding: 15px;
  text-align: center;
}

.users-text img {
  margin: 1.9rem 0rem 0.3rem;
}

.users-link {
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo {
  text-align: center;
}

.demo-content {
  padding: 2rem 0rem 2rem 0rem;
}

.demo-heading {
  padding: 0;
  margin-bottom: 2rem;
}

.demo-link {
  background-color: #4caf4f;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.demo-link ion-icon {
  margin-left: 5px;
}

.demo-link:hover {
  background-color: #45a049; 
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263238;
  padding: 2rem 0rem 2rem 0rem;
}

.footer-branding {
  color: white;
  font-weight: 500;
  font-size: 2.5rem;
  margin-right: 15px;
}

.copyright-text {
  color: #F5F7FA;
  margin-left: 7rem;
  margin-top: 1rem;
}

.social-logos {
  margin: 2rem 0 0 7rem;
  gap: 3rem;
}

.social-logo {
  font-size: 1.5rem;
  color: white;
  background-color: #3c464c; 
  border-radius: 50%; 
  padding: 0.5rem; 
}

.right-footer-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.footer-section {
  text-align: left;
  margin-right: 7rem;
  margin-left: 0;
}

.footer-heading {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  margin-left: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.footer-links a {
  text-decoration: none;
  color: #F5F7FA;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #4caf4f;
}

.subscribe-input {
  width: 15.938rem;
  border: none;
  border-radius: .5rem; /* Adjust the radius as needed */
  padding: 10px;
  background-color: #3c464c;
  color: white;
  margin-top: 0.3rem; /* Adjust the top margin to vertically align */
}

@media (min-width: 834px) and (max-width: 1028px) {
  .nav-item.register-btn {
    color: blue;
    padding: 0.625rem 0.625rem;
    font-size: 0.875rem;
  }


  .client-logos {
    margin-top: 0.5rem;
  }

  .meet-customers-link ion-icon {
    margin-left: 0;
  }

  .meet-customers-link ion-icon {
    margin-right: 25rem; 
  }
}

@media (max-width: 833px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    text-align: center;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-item {
    margin: 16px 0;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.25rem;
  }

  .hero-text,
  .hero-image {
    max-width: 100%;
    margin: 0;
  }

  .hero-image {
    margin-top: 1rem;
  }

  .hero-heading {
    padding-top: 1.5rem;
    font-size: 1.5rem;
  }

  .hero-btn {
    padding-top: 1rem;
  }

  .community-items {
    flex-direction: column;
    align-items: center;
  }

  .unlock-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .unlock-content,
  .pana,
  .customers {
    padding: 2rem 1rem;
  }

  .unlock-content img,
  .unlock-text,
  .pana-text {
    max-width: 100%;
  }

  .achievements-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .achievements-text {
    margin: 0;
  }

  .counts {
    margin-top: 2rem;
  }

  .count-row {
    align-items: center;
  }

  .count-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .count-number {
    margin-top: 0.5rem;
  }

  .count-label {
    display: block;
    margin-top: 0.5rem;
  }

  .count-item img {
    max-width: 100%;
    margin-bottom: 0.5rem;
  }

  .pana,
  .customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .pana-content,
  .customer-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .pana-content img,
  .customer-img {
    max-width: 100%;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  .client-logos {
    margin-top: 1rem;
  }

  .user-items {
    flex-direction: column;
    align-items: center;
  }

  .user-item {
    flex: 1 0 100%; 
    max-width: none;
  }
}
